# ============================================
# Platform Specific
# ============================================

# macOS
**/.DS_Store

# Windows
Thumbs.db
*.lnk

# ============================================
# IDEs and Editors
# ============================================

# VSCode
**/.vscode/*
!/.vscode/
!/.vscode/settings.json

# ============================================
# Project Specific
# ============================================

# Microsoft Visio temporary files
*.~vsdx